body {
  font-family: Inter,-apple-system,BlinkMacSystemFont;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  color: #0a0a0a;
  margin: 0; /* Remove default browser margins */
   /* Set the background color for the body element */
  padding-top: 0px !important;
}

/* Update the font-family property for other elements as needed */
.nav-title {
  font-family: Inter,-apple-system,BlinkMacSystemFont;
  font-weight: 200;
}

#logo-container {
  width: 250px;
  margin: auto;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: #FF7CD0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Add this line */
}

.logo-text {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: italic;
  position: relative ; 
  bottom: 2px; 
}

.link-text{
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

.project-link-text{
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

#wrapper {
  display: flex;
  flex direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
  align-items: center;
  justify-content: center;
  /* Remove width and height properties */
}

header{
  text-align: center;
  margin-bottom: 70px;
}


#Content-container{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  color: whitesmoke;
  font-family: Courier New, Courier, Monaco;
}

#main-nav{
  margin-bottom: 33px;
}

#main-nav ul li{
  padding: 5px 0;
}

#social-media-nav{
  padding-left: 5px 0;
}

#social-media-nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#social-media-nav ul li {
  padding-left: 0px;
  padding-right: 20px; /* Increased the right padding */
  margin-right: 15px; /* Added some right margin */
  margin-bottom: 8px;
}

nav{
  padding-left: 30px;

}

nav ul li {
  list-style-type: none; 
}

  td {
            padding: 10px; /* Adjust the padding as needed */
        }


/* ... other styles ... */

.textcontainer {
  padding: 2% 10%;
  max-width: 900px;
  margin: 0 auto;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 30px;
}

a {
  color: white;
}

h1{
  line-height: 0.5;
}

h2{
  font-size: 13px;
  line-height: 0.5;
}

h3, h4, p {
  font-family: 'Garamond', serif;
  font-weight: 500;
  line-height: 1.5;
  /* Additional styling properties */
}



.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

.code-container {
  width: 100%;
  height: 80vh;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #d3d3d3;
}

code {
  display: block; /* Ensure the code tag is a block element */
  white-space: pre; /* Preserve whitespace */
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
  padding: 10px; /* Add padding for better readability */
  font-family: monospace; /* Use a monospaced font for code */
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title {
  margin-left: 15px;
  font-family: Inter,-apple-system,BlinkMacSystemFont;
  font-weight: 200;
  margin-right: 15px;
  color: black;
}

.nav-link {
  border: 3px outset #black;
  border-radius: 3px;
  padding: 10px 30px;
  font-family: Inter,-apple-system,BlinkMacSystemFont;
  font-weight: 200;
  background-color: #FC6C85;
  color: #EEE7E8;
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px inset #black;
  border-radius: 3px;
  padding: 10px 30px;
  background-color: #808080;
  transition: 0.3s;
}

#btn {
  border: 3px outset #black;
  border-radius: 3px;
  padding: 10px 30px;
  background-color: #FC6C85;
  color: #EEE7E8;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #FC6C85;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #FC6C85;
  transition: 0.3s;
}

.row {
  display: flex;
  justify-content: center;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #white;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
  line-height: 2;
}