body {
    font-family: Inter,-apple-system,BlinkMacSystemFont
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    color: #0a0a0a;
    background-color: white;
    padding-top: 0px !important;
}

/* Update the font-family property for other elements as needed */
.nav-title {
    font-family: Inter,-apple-system,BlinkMacSystemFont
    font-weight: 200;
} 

/* ... other styles ... */


.textcontainer {
  padding: 2% 10%;;
  max-width: 900px;
  margin: 0 auto;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #FD4659;
}

h1, h2, p {
    font-family: 'Garamond', serif;
    font-weight: 500;
    /* Additional styling properties */
}

.container-fluid {

  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
    background-color: white; /* Change banner color to white */
    color: black; /* Change text color in the banner to black */
    padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;

  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  font-family: Inter,-apple-system,BlinkMacSystemFont;
  font-weight: 200;
  margin-right: 15px;
  color: black;
}

.nav-link {
  border: 3px outset #black;
  border-radius: 3px;
  padding: 10px 30px;
  font-family: Inter,-apple-system,BlinkMacSystemFont;
  font-weight: 200;
  background-color: #FC6C85;
  color: #EEE7E8;
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px inset #black;
  border-radius: 3px;
  padding: 10px 30px;
  background-color: #808080;
  transition: 0.3s;
}

#btn {
  border: 3px outset #black;
  border-radius: 3px;
  padding: 10px 30px;
  background-color: #FC6C85;
  color: #EEE7E8;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #FC6C85;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #FC6C85;
  transition: 0.3s;
}

.row {
    display: flex;
    justify-content: center;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #white;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}